/* boxStyles.css */

/* Styles for the dimming overlay */
.floating-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  /* Styles for the individual boxes */
  .floating-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 600px;
  }
  
  .floating-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color:black;
  }
  .floating-box-header-quest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color:black;
  }
  .floating-box-header h2{
    color: black;
    margin-left: -180px;
  }
  .floating-box-header-quest h2{
    color: black;
    margin-left: -270px;
  }
  .floating-box.visible {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); 
  }
  
  .floating-box.outro {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8); 
  }
  
  .close-button {
    cursor: pointer;
    font-size: 20px;
  }
  
  .floating-box-content {
    
  }
  
  /* Additional styles specific to the AchievementBox */
  .achievement-box-content {
    /* Customize achievement box content styling */
  }
  
  /* Additional styles specific to the QuestBox */
  .quest-box-content {
    /* Customize quest box content styling */
  }
  
  /* Additional styles specific to the ItemShopBox */
  .item-shop-box-content {
    background-color:  #efefef;
    height: 500px;
    border-radius: 10px;
    overflow-y: scroll;
  }
  .certificate{
    background-color: #efefef;
    padding: 30px;
    color: black;
    border-radius: 10px;

  }
  .claim-cert{
    margin-left: 550px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: green;
    border-radius: 50px;
    border: none;
    color: white;
    cursor: pointer; 
    transition: background-color 0.3s;
   
  }
  .claim-cert:hover{
    background-color: darkgreen;
  }
  .certi{
    margin-top: -35px;
  }
  .user-shop{
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 15px;
  width: 715px;
  margin-left: 20px;
  }
  .shop-name{
    color: black;
  }
  .shop-action-btn{
    margin-left: 450px;
    margin-top: -50px;
    margin-bottom: 20px;
  }
  .buy-itm-btn{
    padding: 15px;
    width: 200px;
    background-color: green;
    border: none;
    border-radius: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;

}
.buy-itm-btn:hover{
    background-color: darkgreen;
}
.item-floating-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color:black;
}
.item-floating-box-header h2{
  color: black;
  margin-right: -80px;
}