.breathing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#38B6FA, #3FB24F);
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-width: 1800px;
  text-align: center;
  margin-left: 230px;
    margin-top: 30px;
}
  
  .breathing-container h2{
    margin-left: 250px;
    margin-top: 30px;
    font-size: 30px;
    color: #ffffff;
  }
  .breathing-container p {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 250px;
    color: #fff;
  }
  
  .circle-container {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 650px;
  }
  
  .circle-svg {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
  }
  
  .circle-progress {
    fill: none;
    stroke: rgb(14, 0, 93);
    stroke-width: 4;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
  }
  
  .timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: rgb(14, 0, 93);
  }
  
  .breath-gif {
    width: 400px; 
    height: 400px; 
    position: absolute;
    margin-top: 3px;
    margin-left: -350px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }

  