.guess-the-song-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: plum;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-width: 1000px;
  text-align: center;
  margin-left: 400px;
  margin-top: 30px;
   }


.emoji-sequence {
  font-size: 2em;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}

p {
  font-size: 1em;
  color: #333;
}