.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 80px); /* Adjust the number of columns as needed */
    gap: 10px;
    margin-top: 50px;
  }
  
  .card {
    width: 80px;
    height: 80px;
    border: 2px solid #38B6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    background-color: #3FB24F;
    color: #333;
    margin-left: 650px;
  }
  
  .card.flipped {
    background-color: #fff;
  }
  
  .timer {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 500px;
  }
  
  .playagain {
    margin-top: 20px;
    margin-left: 500px;
    border-radius: 50px;
    background-color: #4caf50;
  }
  
  .congratulations {
    margin-top: 20px;
    margin-left: 350px;
    font-size: 24px;
    color: #4caf50; 
    font-weight: bold;
  }
  .dark-mode-title p{
    color: white;
  }
