.appinprice{
    width: 100vw;
    height: 160vh;
}
body{
    margin: 0;
    padding: 0;
}
.pri{
    margin-left: 220px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.free-con{
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 400px;
    border-radius: 20px;
    margin-left: 230px;
    margin-top: 10px;
    background-color: black; 
    justify-content:space-between;
    align-items:flex-start;
    color:white
}
.free-con1{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.free-con2{
    background-color:#ddd3db;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 20px;
}
.plan {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
}
.price{
    color: white;
    margin-left: 20px;
    font-size: 24px;
}
.button1{
    margin-top: 250px;
    margin-left: 20px;
    padding: 10px 30px;
    background-color: black;
    color:white;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
.button2{
    margin-top: 250px;
    margin-left: 20px;
    padding: 10px 30px;
    background-color: black;
    color:white;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
.button2:hover{
    background-color: #3FB24F;
}
.button3{
    margin-top: 250px;
    margin-left: 20px;
    padding: 10px 30px;
    background-color: black;
    color:white;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}
.button3:hover{
    background-color: #705FBE;
}
.head{
   color: white;
   margin-left: 20px;
   margin-top: 30px;
   font-size: 18px; 
   background-color: black;
   font-family: 'Poppins', sans-serif;
}
.cost{
    margin-top: 200px;
    margin-left: -115px;
    
}
.pric{
    margin-left: 220px;
    font-size: 24px;
    margin-top: 70px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.three-month{
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 400px;
    border-radius: 20px;
    margin-left: 660px;
    margin-top: -900px;
    justify-content: space-between;
    align-items: flex-start;
    color:white;
    background: linear-gradient(#38B6FA, #3FB24F);
}
.three-month1{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.three-month2{
    background-color:#ddd3db;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 20px;
}
.month{
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 400px;
    border-radius: 20px;
    margin-left: 1090px;
    margin-top: -900px;
    justify-content: space-between;
    align-items: flex-start;
    color:white;
    background: linear-gradient(#FF64B4, #705FBE);
}
.month1{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.month2{
    background-color:#ddd3db;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-bottom: 20px;
}
.container-wrapper {
  display: flex;
  justify-content: space-around; 
  align-items: flex-start;
}
.desc ul{
    font-size: 18px;
    margin-top: -100px;
    margin-left: 30px;
}