/* ForumStyle/Loader.css */

.loader {
    border: 4px solid #f3f3f3; /* Loader border color */
    border-top: 4px solid #3498db; /* Loader border color when spinning */
    border-radius: 50%;
    width: 36px; /* Loader width */
    height: 36px; /* Loader height */
    animation: spin 2s linear infinite; /* Rotation animation */
    margin: 0 auto; /* Center horizontally */
    margin-top: 20px; /* Add margin at the top as needed */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); } /* Starting point */
    100% { transform: rotate(360deg); } /* Ending point (full circle) */
  }
  